<main>
  <div class="container form">
    <div class="row h-100 justify-content-center">
      <div class="col-9 mt-5">
          <h2 class="centered">New Project</h2>
          <%= render 'form', project: @project %>
      </div>
    </div>
  </div>
</main>
