// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.members-list {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}

.members-container {
  padding-top: 50px;

  h2 {
    margin-bottom: 30px;
  }

  .members-notice {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.members-table {
  th {
    font-size: 21px;
    padding: 20px;
  }

  td {
    padding: 20px;
  }

  tr {
    border-bottom: 1px solid black;
  }
}

.members-list-link {
  display: block;
}

.members-list-details {
  display: flex;
  align-items: center;

  .fa {
    color: orange;
  }
}
